body {
    background-color: #829EB9;
}

.nav {
    background-color: rgb(121, 166, 218);
}

.center {
    text-align: center;
    padding: 2%;
    margin: -8px;
}

.grid {
    display: grid;
    grid-template-columns: 25% 75%;
}

.item1 {
    background-color: rgb(102, 146, 196);
    padding: 4%;
    margin-top: 3%;
    text-align: center;
}

.item2 {
    padding: 4%;
    margin-top: 3%;
}

.img {
    margin-top: 5%;
    margin-left: 30%;
    width: 50%;
}

.footer {
    background-color: yellow;
    text-align: center;
    padding: 1%;
}

#h3 {
    text-align: center;
}